.main {
  width: 100%;
  padding: 0px 110px 30px 230px;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0px 60px 10px 170px;
  }
}

.cards__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 20px;
}

.cards__item {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .cards__item.descr {
    width: 100%;
  }
}

.cards__image {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .cards__image {
    width: 30px;
    height: 30px;
  }
}

.cards__title {
  font-size: 14px;
  font-weight: bold;
  color: grey;
  text-align: center;
}

.cards__years {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: grey;
}

.cards__description {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  color: grey;
  text-align: center;
}

.cards__item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .cards__item:not(:last-child) {
    margin-right: 15px;
  }
}
